/* JavaScript */

.pAvisoNomeUsuario, .pAvisoEmail, .pAvisoSenha, .pAvisoConfirmarSenha{
  display: none;
  color: #BE2ED1;
  max-width: 300px;
  font-size: 0.825em;
  margin-bottom: 5px;
}

/* JavaScript */


.loading-div{
  display: none;
  margin: 0 auto;
  padding: 35px 0;
  width: 50px;
}