/* Header */
.nomeUsuario{
  color: white;
  background-color: #404040;
  padding: 10px 15px;
  border-radius: 12px;
  margin-left: 20px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 5px;
}

.nomeUsuario2{
  top: 20px;
  left: 85.4%;
  position: absolute;
  color: white;
  background-color: #404040;
  padding: 10px 15px;
  border-radius: 12px;
  margin-left: 20px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}

.nomeUsuario2 div{
  display: flex;
  gap: 5px;
  align-items: center;
}
/* .sair{
  width: 100%;
  color: black;
} */

.sair:hover{
  color: rgb(199, 199, 199);
  cursor: pointer;
}



/* Favorito */

.favoritoTitulo{
  font-family: 'Noto Serif Telugu';
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 5rem;
  overflow: hidden;
  color: rgb(2, 2, 2);
  text-align: center;
  line-height: 80px;
  margin-top: 50px;
}

.favoritoTitulo span{
  font-family: 'Noto Serif Telugu';
  font-size: 1.5rem;
}

.favoritoParagrafo{
  font-size: 1.1rem;
  text-align: center;
}

.pesquisa{
  margin-top: 40px;
  padding: 15px 20px;
  border: 1px solid rgb(134, 134, 134);
  width: 100%;
}

.pesquisa:focus{
  border: 1px solid rgb(134, 134, 134);
  outline: none;
}

.pesquisa::placeholder{
  color: rgb(0, 0, 0);
}


/* Campeoes */

.todosCampeoes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 70px;
  margin-bottom: 100px;
  animation: transicao 1s ease-out;
  overflow: hidden;
}

.campeao-legenda{
  font-family: 'Noto Serif Telugu';
  display: block;
  padding: 19px 0px 7px 12px;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #00171d;
  text-transform: uppercase;
  font-style: italic;
  transition: 0.5s;
  letter-spacing: 1px;
  position: relative;
  z-index: 2;
  word-wrap: unset;
}

.campeoes{
  transition: 0.5s;
}

.campeoes:hover .campeao-legenda{
  background-color: #006680;
  padding: 19px 0px 7px 20px;
  
  
}

.campeoes img{
  transform: scale(1.09);
  transition: 0.5s ease-in-out;
  /* clip-path: polygon(85% 0 , 100% 15%, 100% 100%, 0 100%, 0 0); */
}

.campeoes img::after{
  content: '';
  display: block;
  position: relative;
  width: 20px;
  background-color: black;
}

.campeoes:hover img{
  transform: scale(1);
}

.campeoes{
  clip-path: polygon(
   92% 0 ,
   100% 6%,
   100% 100%,
   0 100%,
   0 0
   );
  transition: 0.3s ease-out;
}
.campeoes:hover{
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 0);
}

/* Js */

.desativado{
  display: none;
}

.idCampeao{
  display: none;
}


@keyframes transicao{
  from {
    opacity: 0%;
    transform: translateY(10px);
    overflow: hidden;
  }
  to {
    opacity: 100%;
    transform: translateY(0px);
    overflow: hidden;
  }
}

.transicao{
  animation: transicao 1s ease-out;
}

@keyframes transicaoReversa{
  from {
    opacity: 100%;
    transform: translateY(0px);
  }
  to {
    opacity: 0%;
    transform: translateY(10px);
  }
}
