.backgroundHeader{
  background-color: black;
}

.header{
  padding: 20px 0;
}

.header a{
  color: white;
}

.header a:last-child{
  color: black;
}

.header .grid-geral{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoHeader{
  width: 30px;
}

/* Nav */
.navegacao ul{
  display: flex;
  align-items: center;
}

.navegacao ul li a{
  color: #F9F9F9;
  text-decoration: none;
}

.linkPaginas{
  text-transform: uppercase;
  padding: 7px 16px;
}

.linkPaginas:hover{
  background-color: #404040;
  padding: 7px 16px;
  border-radius: 12px;
}

.lua{
  padding: 10px 9px;
  margin-right: 15px;
  margin-left: 30px;
}

.lua:hover{
  background-color: #404040;
  padding: 10px 9px;
  border-radius: 12px;
}

.linkIniciarSessao{
  text-transform: uppercase;
  background-color: #404040;
  padding: 10px 15px;
  border-radius: 12px;
  margin-right: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.2s;
}

.linkIniciarSessao:hover{
  background-color: #353535;
}

.linkCadastrar{
  text-transform: uppercase;
  background: linear-gradient(274.17deg, #00D2F4 39.54%, #02a4bd 100%);
  border-radius: 13px;
  padding: 10px 15px;
  letter-spacing: 1px;
  font-weight: 700;
  transition: 0.2s;
}

.linkCadastrar:hover{
  background: linear-gradient(274.17deg, #00bedb 39.54%, #0199b1 100%);
}

.linkCadastrar a{
  color: black !important;
}

/* Video */

.videoComBlur{
  object-fit:cover;
  object-position:center top; 
  height: 75vh; 
  width: 120vw;
}

.divVideo{
  top: 130px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 0;
  overflow: visible;
}

.videoSemBlur{
  object-position: center center;
  object-fit: cover;
  width: 90vw;
  height: 74vh;
}

.divVideo::before{
  position: absolute;
  display: block;
  content: '';
  width: 88vw;
  height: 78vh;
  top: -15px;
  border: 1px solid #7c7c7c;
}


.divLeagueOfLegends{
  position: absolute;
  top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-flow: column;
  overflow: visible;
}

.imgLeagueOfLegends{
  width: 500px;
}

.botao{
  background-color: rgb(11, 198, 227);
  min-width: 195px;
  height: 56px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  letter-spacing: 2px;
  font-size: 0.9em;
  cursor: pointer;
}

.botao:hover{
  background-color: rgb(2, 217, 250);
}

/* Campeão */


.campeao{
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}

.spanCampeao{
  display: block;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  font-size: 0.8em;
  font-weight: 700;
}

.campeao .grid-geral{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column;
}

.campeaoTitulo, .campeaoTitulo span{
  font-family: 'Noto Serif Telugu';
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  line-height: 70px;
  overflow: hidden;
  letter-spacing: 5px;
}

.campeaoTitulo{
  font-size: 5rem;
}

.campeaoTitulo span{
  font-size: 1.5rem;
}

.imagensCampeao{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -80px;
  flex-direction: column;
  align-items: center;
}

.imagemYasuo{
  width: 550px;
}

.textoYasuo{
  margin-top: -30px;
}

.textoYasuo h3{
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
}

.funcoes{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.funcoes li p{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  color: #bbb;
}

.ativo svg{
  fill: #CCA150 !important;
}

.ativo p{
  color: #CCA150 !important;
}

