/* Estilos Gerais */
@font-face {
  font-family: 'BigNoodle';
  src:  url('../assets/font/big_noodle_titling_oblique.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.titulo{
  font-family: 'Noto Serif Telugu';
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 5rem;
  overflow: hidden;
  color: white;
  text-align: center;
}

/* Header */

.backgroundHeader{
  background-color: black;
}

.header{
  padding: 20px 0;
  
}

.header a{
  color: white;
}

.header a:last-child{
  color: black;
}

.header .grid-geral{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoHeader{
  width: 30px;
}

/* Nav */
.navegacao ul{
  display: flex;
  align-items: center;
}

.navegacao ul li a{
  color: #F9F9F9;
  text-decoration: none;
}

.linkPaginas{
  text-transform: uppercase;
  padding: 7px 16px;
}

.linkPaginas:hover{
  background-color: #404040;
  padding: 7px 16px;
  border-radius: 12px;
}

.lua{
  padding: 10px 9px;
  margin-right: 15px;
  margin-left: 30px;
}

.lua:hover{
  background-color: #404040;
  padding: 10px 9px;
  border-radius: 12px;
}

.linkIniciarSessao{
  text-transform: uppercase;
  background-color: #404040;
  padding: 10px 15px;
  border-radius: 12px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.2s;
}

.linkIniciarSessao:hover{
  background-color: #353535;
}

.linkCadastrar{
  text-transform: uppercase;
  background: linear-gradient(274.17deg, #00D2F4 39.54%, #02a4bd 100%);
  border-radius: 13px;
  padding: 10px 15px;
  letter-spacing: 1px;
  font-weight: 700;
  transition: 0.2s;
}

.linkCadastrar:hover{
  background: linear-gradient(274.17deg, #00bedb 39.54%, #0199b1 100%);
}

.linkCadastrar a{
  color: black !important;
}

/* Video */

.videoComBlur{
  object-fit:cover;
  object-position:center top; 
  height: 75vh; 
  width: 120vw;
}

.divVideo{
  top: 130px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 0;
  overflow: visible;
}

.videoSemBlur{
  object-position: center center;
  object-fit: cover;
  width: 90vw;
  height: 74vh;
}

.divVideo::before{
  position: absolute;
  display: block;
  content: '';
  width: 88vw;
  height: 78vh;
  top: -15px;
  border: 1px solid #7c7c7c;

}






.divLeagueOfLegends{
  position: absolute;
  top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-flow: column;
  overflow: visible;
}

.imgLeagueOfLegends{
  width: 500px;
}

.botao{
  background-color: rgb(11, 198, 227);
  min-width: 195px;
  height: 56px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  letter-spacing: 2px;
  font-size: 0.9em;
  cursor: pointer;
}

.botao:hover{
  background-color: rgb(2, 217, 250);
}

/* Campeão */


.campeao{
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
  justify-content: space-between;
}

.campeao .grid-geral{
  max-width: 100% !important;
  margin: 0px;
  padding: 0px;
}

.spanCampeao{
  display: block;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  font-size: 0.8em;
  font-weight: 700;
}

.campeao .flex ul{
  overflow: visible;
}

.campeao .grid-geral{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column;
}

.campeaoTitulo, .campeaoTitulo span{
  font-family: 'Noto Serif Telugu';
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  line-height: 70px;
  overflow: hidden;
  letter-spacing: 5px;
}

.campeaoTitulo{
  font-size: 5rem;
  overflow: visible;
  
}

.campeaoTitulo span{
  font-size: 1.5rem;
}


.imagensCampeao{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -80px;
  flex-direction: column;
  align-items: center;
  overflow: visible;

}

.imagemAkali, .imagemYasuo, .imagemLux, .imagemJinx, .imagemThresh, .imagemLeona{
  width: 550px;
  overflow: visible;
  position: relative;
  z-index: -1;
  margin-top: -50px;
}

.flex{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: visible;
}

.textoCampeao h3{
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
}

.funcoes{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.funcoes li p{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  color: #bbb;
}


.ativoFuncoes svg{
  animation-name: changeColor;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.ativoFuncoes p{
  animation-name: changeColor !important;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.ativo{
  display: block !important;
  animation-name: opacity;
  animation-duration: 1s;

}

@keyframes opacity {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

@keyframes changeColor {
  from{
    color: #bbb;
    fill: #bbb;
  }
  to{
    color: #CCA150;
    fill: #CCA150;
  }
}

.campeao-js{
  display: none;
}

/* Como jogar */

.backgroundComoJogar{
  background-color: #050D12;
}

.comoJogar .grid-geral{
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding-bottom: 100px;
}

.imgMapalol{
  position: relative;
  top: 100px;
  z-index: 0;
  min-width: 800px;
  right: 80px;
}

.textoComoJogar{
  display: flex;
  right: 200px;
  flex-flow: column;
  align-items: center;
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  max-width: 500px;
  min-width: 500px;
}

.textoComoJogar p{
  
  
  text-align: justify;
}

.comoJogarTitulo, .comoJogarTitulo span{
  font-family: 'Noto Serif Telugu';
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  line-height: 70px;
  overflow: hidden;
  color: white;
}

.comoJogarTitulo{
  font-size: 5rem;
  overflow: visible;
}

.comoJogarTitulo span{
  font-size: 1.5rem;
}

/* Minha História */

.backgroundPreto{
  background: linear-gradient(180deg, #050D12 0%, #000000 58.85%);
  overflow: hidden;
}

.minhaHistoria{
  padding-top: 100px;
}

.minhaHistoriaConteudo{
  display: flex;
  margin: 60px 0;
  align-items: center;
}

.titulo{
  font-family: 'Noto Serif Telugu';
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 5rem;
  overflow: hidden;
  color: white;
  text-align: center;
}

.minhaHistoriaTexto{
  color: white;
  max-width: 600px;
}

.minhaHistoriaTexto h1{
  font-family: 'Noto Serif Telugu';
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.5rem;
  overflow: hidden;
  color: white;
}

.imgRanks{
  width: 30%;
  margin: 0 auto;
}

/* Licoes */
.licoes{
  padding: 50px 0;
  
}

.licoes .titulo{
  line-height: 120px;
  margin-top: 20px;
  margin-bottom: 100px;
}

.backgroundPretoLicoes{
  background: black;
}


.licoesConteudo{
  display: flex;
  color: white;
  flex-wrap: wrap;
  gap: 7%;
  
}

.subtitulo{
  font-size: 1.5rem;
  font-family: 'Noto Serif Telugu';
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  line-height: 35px;
  color: white;

}

.licoesConteudoTexto{
  max-width: 45%;
  margin-bottom: 50px;

}

.licoes .grid-geral{
  overflow: hidden !important;
}

/* Meu canal */

.canal{
  padding-bottom: 150px;
}


.backgroundAzul{
  background: linear-gradient(180deg, #000000 0.1%, #002338 15.92%);
}


.tituloCanal{
  font-family: 'BigNoodle';
  font-weight: normal;
  color: white;
  font-size: 8rem;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 80px;
  position: relative;
  z-index: 2;
}

.subtituloCanal{
  font-family: 'BigNoodle';
  font-size: 2.25rem;
}

.canalConteudo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5%;
  color: white;
  position: relative;
  z-index: 2;
}

.canalConteudoTexto{
  width: 45%;
  color: white;
}

.canalConteudoTexto a{
  display: inline-block;
  font-family: 'BigNoodle';
  font-size: 2rem;
  background-color: #0BC6E3;
  text-decoration: none;
  color: white;
  margin-top: 40px;
  padding: 15px 42px;
  transition: 0.5s;
}

.canalConteudoTexto a:hover{
  color: black;
  box-shadow: 5px 5px 5px #000000;
}


/* Footer */

.footerConteudo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerConteudo p {
  color: #A6A6A6;
  text-align: center;
  margin: 20px 0;
}

.footerNav{
  display: flex;
  margin-top: 20px;
}

.footerNav .linkPaginas:hover{
  background-color: #000000;
  color: #d1d1d1;
}

.footerNav a{
  text-decoration: none;
  color: #A6A6A6;
}

.footerConteudoRedes{
  display: flex;
  gap: 15px;
}

.footerConteudoRedes{
  cursor: pointer;
}